.column-container {
  display: flex;
  height: calc(100vh - 182px);
}

.home-left {
  flex: 1;
  max-width: 200px;
  background-image: url("../assets/img/home/tools.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-color: black;
}

.column-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 8px;
  height: 100%;
}

.digital-art-left {
  flex: 1;
  max-width: 200px;
}

.link-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 8px;
  row-gap: 8px;
}

.gallery-container {
  flex: 1;
  padding: 6px;
}

a {
  text-decoration: none;
}

aside {
  align-items: stretch;
  height: calc(100vh - 196px);
  margin-bottom: 8px;
}

.tree-view {
  height: 100%;
}

@media only screen and (max-width: 640px) {
  .column-container {
    flex-direction: column;
  }

  .home-left {
    height: calc(100vw - 64px);
    max-width: 100%;
  }

  .column-right {
    padding-left: 0;
  }

  .digital-art-left {
    max-width: 100%;
    flex: none;
    margin-bottom: 12px;
  }

  .link-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  aside {
    height: 100%;
  }
}
