.column-container {
  display: flex;
  height: calc(100vh - 182px);
}

.home-left {
  flex: 1;
  max-width: 200px;
  background-image: url("https://mrld-remote-img-test.s3.us-east-2.amazonaws.com/tools.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-color: black;
}

.column-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 8px;
  height: 100%;
}

.digital-art-left {
  flex: 1;
  max-width: 200px;
}

.link-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 8px;
  row-gap: 8px;
}

.gallery-container {
  flex: 1;
  display: grid;
  padding: 6px;
  gap: 6px;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(auto-fit, 100px);
}

.gallery-thumbnail {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
}

aside {
  align-items: stretch;
  height: calc(100vh - 196px);
  margin-bottom: 8px;
}

.tree-view {
  height: calc(100% - 12px);
}

.tree-view > li > .highlighted {
  background-color: navy;
  color: #fff;
}

@media only screen and (max-width: 640px) {
  .column-container {
    flex-direction: column;
  }

  .home-left {
    height: calc(100vw - 64px);
    max-width: 100%;
  }

  .column-right {
    padding-left: 0;
  }

  .digital-art-left {
    max-width: 100%;
    flex: none;
    margin-bottom: 12px;
  }

  .link-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .gallery-container {
  flex: 1;
  display: grid;
  padding: 6px;
  gap: 6px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
}

  aside {
    height: 100%;
  }
}
