/* @import "tailwindcss";

*/
html {
  height: 100%;
}

body {
  margin: 32px;
  background: linear-gradient(black, seagreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-bar {
  background: linear-gradient(90deg, rgb(27, 86, 53), seagreen);
}

.title-bar-text {
  text-decoration: none;
}

.main-window {
  height: calc(100vh - 70px);
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: Arial;
  margin: 8px 0;
}

@media only screen and (max-width: 640px) {
  .main-window {
    height: 100%;
  }

  body {
    padding-bottom: 32px;
  }
}
